.clipboard-entry-text:before {
  content: '\201C';
}

.clipboard-entry-text:after {
  content: '\201D';
}

.clipboard-popup-header {
  background-image: linear-gradient(
    to right top,
    #6403cf,
    #6237de,
    #6253eb,
    #666bf6,
    #6d81ff
  );
}
